@font-face {
  font-family: "Agustina";
  src: url(/fonts/Agustina.woff);
}

/*
---------------------------
SCROLLBAR
---------------------------
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  border-radius: 10px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  max-height: 10px;
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  background: #bb86fc;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca9eff;
}

/*CSS variable declaration for light/dark theme*/

html[data-theme="light"] {
  --bg-mybtn: red;
  --bg-nav: black;
  --bg-nav-img: black;
  --bg-footer: #DDE1EC;
  --bg: #ffffff;
  --text: #191919;
  --text-color: #6c757d;
  --col-icon: black;
  --col-bd-radius: rgb(2, 2, 2);
  --col-box-shadow: #000000 2px 2px 4px, #4D4D4D -2px -2px 4px;
  --col-box-shadow-hover: inset #8a7373 2px 2px 4px, inset #4D4D4D -2px -2px 4px;
  --col-bd-icon: transparent;
  --bg-icon: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-linkedin: #0e76a8;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail: rgb(209, 82, 82);
  --shadow-col: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --bg-mybtn: rgb(230, 109, 129);
  --bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg-footer: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --col-icon: white;
  --col-bd-radius: black;
  --col-bd-icon: transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7), -5px -5px 10px rgba(255, 255, 255, 0.1);
  --col-box-shadow-hover: inset rgba(255, 255, 255, 1) 2px 2px 4px, inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-linkedin: #0e76a8;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-white: #fff;
}

html {
  background-color: #f6f6f6;
  transition: background-color .3s;
  scroll-behavior: smooth;
}

html[light-mode="dark"] {
  background-color: #141516;
  color: #ced4e2;
}

/* body */
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}


/* 
---------------------
Contact Form CSS 
---------------------
*/

#contact {
  background-color: #2b2a2a;
  color: white;
  padding-bottom: 50px;
}

.quote-container {
  padding: 50px;
}

.tag {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin: 5px auto 0px;
  display: block;
  box-sizing: border-box;
}

#contact h1 {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
}

#contact-container {
  width: 90%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin: 60px auto;
}

#contact-form-container {
  width: 30%;
  box-sizing: border-box;
  margin-top: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form input,
#contact-form textarea {
  margin: 0px auto 10px;
  padding: 5px 8px;
  border: 2px solid transparent;
  border-bottom: 2px solid #bb86fc;
  color: white;
  background: transparent;
  width: 100%;
  line-height: 1.6;
  font-size: 1.25rem;
  box-sizing: border-box;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form button:focus {
  outline: none;
  box-shadow: 0 0 5px #bb86fc;
  border: 2px solid #bb86fc;
  border-radius: 23px;
}

#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid #bb86fc;
  margin-top: 5%;
  border-radius: 23px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #bb86fc;
}

#contact-form-status {
  margin-top: 30px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#my-details-container {
  width: 40%;
}

#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.5rem;
  display: inline;
  border-bottom: 3px solid #bb86fc;
}

#my-details-container p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#address {
  margin-top: 1.5rem;
}

.my-details-info-container {
  margin-bottom: 0.8rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 14px;
}

.my-details-info-container {
  font-size: 1.4rem;
}

.my-details-info-container span {
  font-size: 1.1rem;
}


@media only screen and (max-width:560px) {
  #contact-container {
    flex-direction: column;
  }

  #contact-form-container {
    width: 100%;
  }

  #my-details-container {
    width: 100%;
  }
}