/* -----Education and Experience----- */

/* Dark and Light theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html[light-mode="light"] {
    --bg1-color: white;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --border: 1px solid #ecf0f3;
    --meta-col: #444;
    --head-col: black;
    --tint-col: #ecf0f3;
}

html[light-mode="dark"] {
    --bg1-color: #272727;
    --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
    --border: none;
    --meta-col: rgb(155, 149, 149);
    --head-col: #fff;
    --tint-col: #ecf0f3be;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    /* background-color: #eee; */
}

h1 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

section {
    padding-top: 70px;
}

.education_head {
    font-weight: bold;
}

/*color of education page heading*/

.edu_background {
    color: #4e00bb;
}

.s2 {
    overflow-x: hidden;
    padding-top: 10px;
}

.s2 .head {
    font-size: 2rem;
    font-weight: bold;
}

.box-container {
    position: relative;
    width: 75%;
    margin: -50px auto 100px;
    /* background:white; */
}

.box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.box:nth-child(2n) {
    left: 55%;
    text-align: left;
}

.box:nth-child(2n) .logo {
    right: 0px;
}

.box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.box:nth-child(2n+1)::after {
    right: -14.5%;
}

.box:nth-child(2n)::after {
    left: -14.2%;
}

.logo {
    position: absolute;
    width: 60px;
    overflow: hidden;
}

.logo>img {
    width: 100%;
}

#south-street-logo {
    width: 120px;
    margin-top: -20px;
}

.designation {
    font-size: 1.6rem;
    font-weight: 600;
    color: #4e00bb;
}

.company-name {
    color: orange;
    font-weight: 600;
    font-size: 1.2rem;
}

.duration {
    font-weight: 100;
    color: rgb(54, 52, 52);
    font-size: 0.9rem;
    font-weight: 600;
}

.certificate {
    margin-bottom: 2px;
}

.certificate a {
    text-decoration: none;
    font-size: 1rem;
}

.description {
    font-size: 16px;
    color: rgb(54, 52, 52);
    line-height: 1.4;
    text-align: justify;
}

/* ----Divider---- */

.divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #bdaad8;
    height: 66%;
}

.divider .traveller {
    position: sticky;
    top: 135px;
    z-index: 1;
}

.divider i {
    transform: rotate(90deg);
    margin-top: -15px;
    display: block;
    color: #4e00bb;
    font-size: 24px;
}