:root {
  --atom-size: 400px;
  --atom-color-hex: #0d00ff;
  --atom-color-rgb: 217, 217, 217;
  --nucleus-size: calc(var(--atom-size) / 5);
  --electron-color-hex: #36C5F0;
  --electron-size: calc(var(--atom-size) / 25);
  --electron-orbit-size: calc(var(--atom-size) / 2.5);
  --electron-speed: 1.2s;
  --electron-speed-alpha: 1s;
  --electron-speed-omega: .8s;
}

/* preloader */
.no-scroll-preload {
  overflow: hidden;
}

/* loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202124;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

/* Atom */
.atom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--atom-size);
  height: var(--atom-size);
  animation: 8s atom infinite cubic-bezier(1, .25, 0, .75);
}

@keyframes atom {
  0% {
    transform: rotate(0deg) scale(1);
  }

  12.5% {
    transform: rotate(-45deg) scale(.9);
  }

  25% {
    transform: rotate(-90deg) scale(1);
  }

  37.5% {
    transform: rotate(-135deg) scale(.9);
  }

  50% {
    transform: rotate(-180deg) scale(1);
  }

  62.5% {
    transform: rotate(-225deg) scale(.9);
  }

  75% {
    transform: rotate(-270deg) scale(1);
  }

  87.5% {
    transform: rotate(-315deg) scale(.9);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}

/* Nucleus */
.nucleus {
  display: block;
  width: var(--nucleus-size);
  height: var(--nucleus-size);
  background: var(--electron-color-hex);
  border-radius: 100%;
  box-shadow: 0 0 3px 0 var(--atom-color-hex);
  animation: 8s atom infinite cubic-bezier(.65, 0, .35, 1);
}

/* Electron Orbit */
.electron {
  border-top: 5px solid rgba(var(--atom-color-rgb), .5);
  border-right: 7px solid rgba(var(--atom-color-rgb), .5);
  border-bottom: 10px solid rgba(var(--atom-color-rgb), .5);
  border-left: 10px solid rgba(var(--atom-color-rgb), .5);
  border-radius: 100%;
  width: 100%;
  height: var(--electron-orbit-size);
  position: absolute;
  animation: var(--electron-speed) electron-orbit infinite linear;
}

.neutron {
  transform: rotate(60deg);
}

.proton {
  transform: rotate(-60deg);
}

@keyframes electron-orbit {
  0% {
    border-top: 5px solid rgba(var(--atom-color-rgb), 1);
    border-right: 7px solid rgba(var(--atom-color-rgb), 1);
    border-bottom: 10px solid rgba(var(--atom-color-rgb), .2);
    border-left: 10px solid rgba(var(--atom-color-rgb), 0);
  }

  25% {
    border-top: 5px solid rgba(var(--atom-color-rgb), .35);
    border-right: 7px solid rgba(var(--atom-color-rgb), .2);
    border-bottom: 10px solid rgba(var(--atom-color-rgb), 0);
    border-left: 10px solid rgba(var(--atom-color-rgb), .5);
  }

  50% {
    border-top: 5px solid rgba(var(--atom-color-rgb), .2);
    border-right: 7px solid rgba(var(--atom-color-rgb), 0);
    border-bottom: 10px solid rgba(var(--atom-color-rgb), .5);
    border-left: 10px solid rgba(var(--atom-color-rgb), .35);
  }

  75% {
    border-top: 5px solid rgba(var(--atom-color-rgb), 0);
    border-right: 7px solid rgba(var(--atom-color-rgb), .5);
    border-bottom: 10px solid rgba(var(--atom-color-rgb), .35);
    border-left: 10px solid rgba(var(--atom-color-rgb), .2);
  }

  100% {
    border-top: 5px solid rgba(var(--atom-color-rgb), 1);
    border-right: 7px solid rgba(var(--atom-color-rgb), 1);
    border-bottom: 10px solid rgba(var(--atom-color-rgb), 1);
    border-left: 10px solid rgba(var(--atom-color-rgb), 1);
  }
}

/* Unit */
.electron::after {
  content: '';
  display: block;
  background: #ECB22E;
  width: var(--electron-size);
  height: var(--electron-size);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(var(--electron-size) / -1);
  transform: scale(1);
  animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
}

.neutron::after {
  background: #E01E5A;
}

.proton::after {
  background: #2EB67D;
}

@keyframes electron {
  0% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }

  12.5% {
    top: 100%;
    transform: scale(1.5);
  }

  25% {
    left: 100%;
    transform: scale(1);
  }

  37.5% {
    top: 0%;
    transform: scale(.25);
  }

  50% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }

  62.5% {
    top: 100%;
    transform: scale(1.5);
  }

  75% {
    left: 100%;
    transform: scale(1);
  }

  87.5% {
    top: 0%;
    transform: scale(.25);
  }

  100% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }
}